<div class="container">
    <button class="exit-button" (click)="navigateToAdd()">Agregar</button>
    <h1>Lista de Equipos</h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Número de Serie</th>
          <th>Modelo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equipos">
          <td>{{ equipo.nombre }}</td>
          <td>{{ equipo.marca }}</td>
          <td>{{ equipo.numeroSerie }}</td>
          <td>{{ equipo.modelo }}</td>
          <td>
            <button (click)="navigateToEdit(equipo.id)">Actualizar</button>
            <button (click)="deleteEquipo(equipo.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>