<div class="container">
  <button class="exit-button" (click)="navigateToMenu()">Exit</button>

  <h1 class="title">Equipos</h1>

  <div class="content">
    <!-- Botones de acciones a la izquierda -->
    <div class="actions">
      <button (click)="openModal('add')">Agregar</button>
      <button (click)="openModal('update')">Actualizar</button>
      <button (click)="openModal('delete')">Eliminar</button>
    </div>

    <!-- Lista de equipos a la derecha -->
    <div class="equipos-list">
      <app-equipo-list [equipos]="equipos"></app-equipo-list>
    </div>
  </div>

  <!-- Modal para agregar/actualizar/eliminar equipos -->
  <app-equipo-form 
    *ngIf="isModalVisible" 
    [tipo]="modalType"
    [equipo]="selectedEquipo"
    (save)="handleSave($event)"
    (close)="closeModal()">
  </app-equipo-form>
</div>