<div class="menu-container">
  <button class="exit-button" (click)="goHome()">Exit</button>

  <div class="options">
    <div class="option empleados" (click)="navigateTo('empleados')">
      <div class="icon">
        <img src="assets/UserIcon.png" alt="Empleados">
      </div>
      <p>Empleados</p>
    </div>

    <div class="option equipos" (click)="navigateTo('equipos')">
      <div class="icon">
        <img src="assets/LaptopIcon.png" alt="Equipos">
      </div>
      <p>Equipos</p>
    </div>
  </div>
</div>