table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: white;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #555;
  }
  
  th {
    background-color: #B97D10;
    color: white;
    font-size: 18px;
  }
  
  td {
    font-size: 16px;
  }